
/*
 * Define Default Colors
 */
 
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {  
  color: #fff;
  background: #555;  
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 10px 0px;
}

#header {  
  overflow: hidden;
  background: linear-gradient(#777, #444);  
  text-align: center;
}

#header .title {
  color: rgb(244, 174, 22);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
  display: inline-block;
  margin-top: 10px;
}

h2{
  color: rgb(244, 174, 22);
}

#header img.logo {
  float: left;
}

#userinfo {
  float:right;
  text-align:right;
  margin-top: 5px;
  margin-right: 5px;  
}

#menubar {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #eee;  
  background: #888; 
}

#menubar ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#menubar li {  
  display: inline-block;
  padding: 10px 0px;
  /*background-color: #037;*/
  text-align: center;
}

#menubar li.right {
  float: right;
}

#menubar li a {
  /* color: #eee; */
  text-decoration: none;
  /*background-color: #037;*/
  padding: 10px 10px;
  color: #eee;  
}

#menubar li a:hover {
  color: #fff;
  background: #aaa;  
}


#page {
  max-width: 1000px;
  margin: auto;
  

}


.error {
  color: red;
}
.message {
  color: green;
}

.postlink {
  display:inline;
}

a.link,
input[type=submit].link {
  display: inline-block;
  padding: 0px 4px;
  border: none;
  text-decoration: none;
  font: inherit;
  font-weight: normal;
  font-size: 16px;
  color: #666;
  background-color: inherit;  
}

a.link:hover,
input[type=submit].link:hover {
  background-color: #eee;
}


a.button {
  display: inline-block;
  color: #fff;
  background-color: #aaa;
  text-decoration: none;
  font-weight: bold;
  margin:2px;
  padding: 5px;
}

a.button:hover {
  background-color: #ccc;
}

#forbidden { 
  padding: 10px 10px;
  border: 2px solid red;  
  border-radius: 10px;
  width: 50%;
  margin: 20px auto;
  text-align: center;
  color: #fff;
  background: #444;
}

.no-tasks {
  color: white;
  padding-left: 10px;
}

