<div class="tasks">      
    {% for task in tasks %}        

      <a class="task sts-{{task.status}}" href="#" onclick="toggle_details('{{ task.id }}')"> 
        
        <div class="task-info">
          
            
          
          <div class="task-name">
            {{ task.name }}
          </div>

          {% if task.priority and task.priority > 0 %}
            <div class="task-priority p-{{task.priority}}">
              &#9733;
              {% if task.priority and task.priority > 1 %}
              &#9733;
              {% endif %}
            </div>
          {% endif %}

          <div class="task-description">
            {{ task.short_desc() }}
          </div>      

          {% if task.is_outstanding() %}
            <div class="task-due">
              {{ h.fmt_date_daysuntil(task.due_by) }}
            </div>
          {% endif %}  
        </div>

        {% if task.is_overdue() and task.is_outstanding() %}
          <div class="task-overdue">
            Overdue
          </div>
        {% endif %}

        <div class="task-category">
          {{ task.category or 'Other' }}
        </div>      

        <div class="task-btns">          
          {% if task.is_outstanding() %}
            <form action="{{ url_for('main.complete_task', id=task.id) }}" method="POST">
              <input class="done" type="submit" value="&#x2714 Done">
            </form> 
          {% endif %}

        </div>      
      </a>                    

      <div id="taskdetails-{{task.id}}" class="task-drop-down">
        <div class="task-details-grid">
          <div class="label">Description:</div>
          <div class="value">{{ task.description }}</div>
        
          <div class="label">Due by date:</div>
          <div class="value">{{ h.fmt_date(task.due_by) }}</div> 
          
          <div class="label">Created date: </div>
          <div class="value">{{ h.fmt_date(task.created_at) }}</div>
                  
          <div class="label">Priority:</div>
          <div class="value">{{ task.priority_str() }}</div>

          <div class="label">Status: </div>
          <div class="value">{{ task.status_str() }}</div>
        </div>  

        <div class="actions">
          {% if task.is_outstanding() %}
            <a href="{{ url_for('main.edit_task', id=task.id) }}">Edit</a>
          {% endif %}  

          <form action="{{ url_for('main.delete_task', id=task.id) }}" method="POST">
            <input class="delete" type="submit" value="Delete" onclick="return confirm('Delete Task {{task.name}}\n.Are You Sure?')">
          </form>
        </div>
      </div>
      
    
    {% endfor %}      
  </div> 