<form action="{{ action_url }}" method="POST">
    <div class="task-details">
        <label for="name">Name:</label>
        <input type="text" id="title" name="name" value="{{ task.name }}" required>
    </div>
    <div class="task-details">
        <label for="description">Description:</label>
        <textarea id="description" name="description" required>{{ task.description }}</textarea>
    </div>
    <div class="task-details">
        <label for="due_by">Due By:</label>
        <input type="date" id="due_by" name="due_by" value="{{ task.due_by }}">
    </div>
    <div class="task-details">
        <label for="priority">Priority:</label>
        <select id="priority" name="priority" required>
            <option value="low" {% if task.priority == 'low' %}selected{% endif %}>Low</option>
            <option value="medium" {% if task.priority == 'medium' %}selected{% endif %}>Medium</option>
            <option value="high" {% if task.priority == 'high' %}selected{% endif %}>High</option>
        </select>
    </div>
    <div class="task-details">
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" value="{{ task.category }}" >            
    </div>
    <div class="task-details">
        <input type="submit" value="Save Task">
    </div>
</form>  