<div class="tasks">      
    {% for task in tasks %}         

      {% if task.is_outstanding() %}
        <a class="task sts-sts-{{task.status}}" href="#" onclick="toggle_details('{{ task.id }}')">
      {% else %}    
        <div class="task sts-{{task.status}}">     
      {% endif %}    
        
        <div class="task-info">
          <div class="task-name">
            {{ task.name }}
          </div>

          <div class="task-description">
            {{ task.description }}
          </div>      

          <div class="task-due">
            {{ task.due_str() }}
          </div>
        </div>

        <div class="task-category">
          {{ task.category or 'Other' }}
        </div>      

        <div class="task-btns">

          
          {% if task.is_outstanding() %}
            <form action="{{ url_for('main.complete_task', id=task.id) }}" method="POST">
              <input class="done" type="submit" value="&#x2714 Done">
            </form> 
          {% endif %}

        </div>      

      {% if task.is_outstanding() %}
        </a>            
      {% else %}    
        </div>  
      {% endif %}    

      <div id="taskdetails-{{task.id}}" class="task-drop-down">
        
        <div class="full-task-description">
            <span class="label">Description:</span>{{ task.description }}
          </div>

          <div class="task-due-date">
            <span class="label">Due by date:</span>{{ h.fmt_date(task.due_by) }}
          </div>
        
          <div class="task-priority">
            <span class="label">Priority:</span>{{ task.priority }}
          </div>

          <div class="task-actions">
            <a class="" href="{{ url_for('main.edit_task', id=task.id) }}">Edit</a>

            <form action="{{ url_for('main.delete_task', id=task.id) }}" method="POST">
                <input class="delete" type="submit" value="Delete" onclick="return confirm('Delete Task {{task.name}}\n.Are You Sure?')">
            </form>
          </div>
      </div>
      
    
    {% endfor %}      
  </div> 