<form id="taskform" action="{{ action_url }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="title" name="name" value="{{ task.name }}" required>
    </div>

    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description">{{ task.description }}</textarea>
    </div>

    <div>
        <label for="due_by">Due By:</label>
        <input type="date" id="due_by" name="due_by" value="{{ h.html_date(task.due_by) }}">
    </div>

    <div>
        <label for="priority">Priority:</label>
        <select id="priority" name="priority" required>
            <option value="0" {% if task.priority == 0 %}selected{% endif %}>Low</option>
            <option value="1" {% if task.priority == 1 %}selected{% endif %}>Medium</option>
            <option value="2" {% if task.priority == 2 %}selected{% endif %}>High</option>
        </select>
    </div>
    
    <div>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" value="{{ task.category }}" >            
    </div>

    <div>
        <input type="submit" value="Save Task">
    </div>

    <div>
      <hr>
      <p><a href="{{ back_to_url or url_for('.home') }}">Back</a></li></p>
    </div>
</form>  