{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='tasks.css') }}">
{% endblock %}


{% block content %}

  <h2>My Tasks</h2>
  <a href="{{ url_for('main.new_task') }}" class="btn">Add New Task</a>

  <div class="tasks">      
    {% for task in current_user.tasks %}         
      <div class="task">        
        <div class="task-info">
          <div class="task-name">
            {{ task.name }}
          </div>

          <div class="task-description">
            {{ task.description }}
          </div>      
      </div>

        <div class="task-category">
          {{ task.category }}
        </div>      


        <div class="task-btns">
          <form action="{{ url_for('main.delete_task', id=task.id) }}" method="POST">
             <button type="submit">Delete</button>
           </form>
                
            <form action="{{ url_for('main.complete_task', id=task.id) }}" method="POST">
              <button type="submit">Done</button>
            </form>
            <form action="{{ url_for('main.edit_task', id=task.id) }}" method="POST">
              <button type="submit">Edit</button>
            </form>
        </div>         
      </div>  
    {% endfor %}      
  </div>  
{% endblock %}


