 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>      
      {% if title %}
	      {{title}}
      {%endif%}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">    
  </head>
  <body>
    {% include '_header.html' %}
    <div id="page">
      <div id="loginform" >
        <h1>Login</h1>
	{% include '_flash_messages.html' %}
        <form class="login" action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p>
              {{ form.username.label }}<br>
            {{ form.username(size=32,placeholder="Enter Username") }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32,placeholder="Enter Password") }}<br>
	    {% for error in form.password.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>{{ form.submit() }}</p>
          <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        </form>

        <div>
	        <hr>
          <p><a href="{{ url_for('main.register') }}">Registration</a></p>
        </div>
      </div>

    </div>
   </body>
</html>

